* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.Poster1-Image {
  width: 90%;
  margin: auto;
  display: flex;
}

.Image-poster-1 {
  width: 67%;
  cursor: pointer;
}
.Image-poster-2 {
  cursor: pointer;
  width: 33%;
}
.Image-poster-2 > img {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.Image-poster-1 > img {
  width: 100%;
  margin-bottom: 30px;
  margin-top: 30px;
}

.botton-text {
  border: 0px solid red;
  text-align: center;
  margin-top: -50px;
}
.botton-text > button {
  padding: 2% 15%;
  background-color: white;
  border-radius: 5px;
}

.botton-text > button:hover {
  color: #eeeeee;
  background-color: #000;
}

.image-poster {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: auto;
}
.image-poster > img {
  width: 100%;
}

.image-poster-box {
  width: 100%;
  cursor: pointer;
  margin-top: 10px;
}

.big-image-poster {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: auto;
}

.big-image-poster img {
  width: 100%;
}

.big-image-poster-box-1 {
  width: 100%;
  margin-top: 10px;

  grid-column: 1 / 3;
  cursor: pointer;
}

.big-image-poster-box-2 {
  width: 100%;
  margin-top: 10px;
  grid-column: 3/4;
  cursor: pointer;
}
.mother-image-poster {
  display: grid;
  width: 90%;
  margin: auto;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

.full-image {
  width: 90%;
  margin: auto;
  margin-top: 40px;
  cursor: pointer;
}
.full-image > img {
  width: 100%;
}

.breaking-other-product-1 {
  width: 90%;
  margin: auto;
  border-bottom: 1px solid #eeeeee;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.top-rated-picked {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: auto;
}

.top-rated-picked-2 {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: auto;
}
.top-rated-picked-image > img,
.top-rated-picked-image-2 > img {
  width: 100%;
  cursor: pointer;
}

.top-rated-picked-box {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 0rem 0.5rem 1rem 0.5rem;
}
.top-rated-picked-details {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  padding: 0px;
  gap: 10px;
}

.space-2 {
  display: flex;
  width: 90%;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  margin-top: 40px;
  border-bottom: 1px solid lightgray;
  margin: auto;
  align-items: start;
}

.space-3 {
  display: flex;
  width: 90%;
  padding-top: 5rem;
  padding-bottom: 1rem;
  margin-top: 40px;
  border-bottom: 1px solid lightgray;
  margin: auto;
  align-items: start;
}

.slider {
  width: 100%;
  margin: auto;

  padding: 2rem;

  color: #212121;
}
.box:hover {
  color: #03a9f4;
  width: 100%;
}
.box {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 0rem 0.5rem 1rem 0.5rem;
}
.slick-slide div {
  margin: 0 0.5rem;
}

.slick-next {
  right: 10px !important;
}

.slick-prev {
  left: 25px !important;
  width: 20px !important;
  z-index: 3;
}
.slider-part-break {
  display: flex;
  width: 90%;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  margin-top: 40px;

  border-bottom: 1px solid lightgray;
  margin: auto;
  align-items: start;
}
.slider-part-break-2 {
  width: 90%;
  padding-top: 1.5rem;
  padding-bottom: 1rem;

  border-bottom: 1px solid lightgray;
  margin: auto;
}

@media only screen and (min-width: 200px) and (max-width: 600px) {
  .image-poster {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .big-image-poster {
    grid-template-columns: repeat(1, 1fr);
  }
  .big-image-poster-box-1 {
    grid-column: 1;
  }
  .big-image-poster-box-2 {
    grid-column: 1;
  }
  .mother-image-poster {
    margin: auto;
    align-self: center;
    grid-template-columns: repeat(1, 1fr);
  }
  .new-clothing-btn {
    visibility: hidden;
  }
  .top-rated-picked {
    grid-template-columns: repeat(1, 1fr);
  }
  .top-rated-picked-2 {
    grid-template-columns: repeat(1, 1fr);
  }
}
